<div class="col-sm-4">
  <div class="view view-first">
   <a href="<perch:content id="image-link" type="text" label="Image Link" escape="true" />"><img class="center-block" src="<perch:content id="image" type="text" label="Image Path" escape="true" />"/></a>
   <div class="mask">
   <h2>
     <perch:content id="title" type="text" label="Title" />
   </h2>
   <p>
     <perch:content id="description" type="text" label="Description" />
   </p>
    <a href="<perch:content id="link" type="text" label="Site Link" escape="true" />" class="info">See site</a>
   </div>
  </div>
</div>
