<div class="row">
    <div class="col-sm-12">
        <div id="resume-content">
            <perch:content id="content" type="textarea" markdown="true" editor="markitup" label="Content" />
        </div>
    </div>
</div>
      