

// Page Content

html, body {
	overflow-x: hidden;
}

// Navbar section
.navbar {
	background-color: #000;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar .navbar-nav {
	li {
		width: 33%;
	}
	li a {
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		color: #fff;
		font-weight: 600;
		padding-right: 25px;
		padding-left: 25px;
	}
}

@media(max-width: 768px) {
	.top-navbar {
		float: right !important;
	}
}

// Header section
#home {
	min-height: 500px;
	background-size: cover;
	background-color: #000;
	@media (max-width: @screen-xs-max) {
		min-height: 700px;
	}
	#header-title {
		padding-top: 100px;
		h1 {
			color: #fff;
			font-size: 100px;
			font-weight: 900;
			font-family: 'Roboto', sans-serif;
		}
		#info {
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			color: #ffa500;
		}
		#experience {
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			color: #2bbfa9;
		}
	}
	.down-arrow {
		color: rgba(251, 252, 252, 0.8);
		text-align: center;
		font-size: 50px;
	}
}

// Porfolio section
#portfolio {
	min-height: 600px;
	background-color: #fff;
	background-image: url(/img/sayagata.png);
	h1 {
		font-family: 'Roboto';
		font-size: 60px;
		text-align: center;
		margin-bottom: 75px;
		color: #000;
		@media (max-width: @screen-xs-max) {
			font-size: 50px;
		}
	}
	.portfolio-description {
		text-align: left;
		color: #000;
		font-family: inherit;
		font-size: 22px;
		padding-left: 15px;
	}
	.portfolio-builtwith {
		text-align: left;
		color: #000;
		font-family: inherit;
		font-size: 22px;
		padding-left: 15px;
	}
	.portfolio-item {
		margin-bottom: 10px;
	}
}

// Portfolio click/hover effect

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}

figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
} 

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	max-width: 480px;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

// Resume section
#resume {
	min-height: 400px;
	background-color: #000;
	background-image: url(/img/congruent.png);
	color: #fff;
	#resume-title {
		text-align: center;
		font-size: 60px;
		font-family: "Roboto";
		margin-bottom: 50px;
		@media (max-width: @screen-xs-max) {
			font-size: 50px;
		}
	}
	.row:not(:last-child) {
		border-bottom: 1px solid #fff;
	}
	.row:last-child {
		margin-bottom: 50px;
	}
	#resume-content {
		font-size: 22px;
		font-family: "Roboto", sans;
		margin-bottom: 10px;
		margin-top: 5px;
	}
}

// Contact section
#contact {
	padding-top: 20px;
	padding-bottom: 50px;
	color: #000;
	background-color: #fff;
	background-image: url(/img/sayagata.png);
	#contact-title {
		font-family: "Roboto", cursive;
		font-size: 60px;
		text-align: center;
		padding-bottom: 10px;
		@media (max-width: @screen-xs-max) {
			font-size: 50px;
		}
	}
	.contact-intro {
		font-family: "Roboto", serif;
		font-size: 20px;
		text-align: center;
		font-weight: 500;
		padding-bottom: 50px;
	}
	.contact-email, .contact-phone, .contact-linkedin, .contact-bitbucket {
		h2, p {
			display: inline-block;
		}
		h2 {
			font-family: "Roboto", sans-serif;
			font-size: 22px;
		}
		p {
			font-family: "Roboto", sans;
			font-size: 22px;
		}
		span {
			font-size: 30px;
		}
	}
	.contact-email a, .contact-linkedin a, .contact-bitbucket a {
		color: #000;
		font-size: 22px;
		&:hover {
			color: #3498db;
		}
	}
}

// Footer
.footer {
	background-color: #000;
	min-height: 35px;
	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
		margin: 0;
		li {
			padding-top: 10px;
			display: inline-block;
			color: #fff;
			font-family: "Roboto", sans-serif;
			font-size: 15px;
		}
	}
}