

// Page Content

html, body {
	overflow-x: hidden;
}

// Navbar section
.navbar {
	background-color: rgba(127, 140, 141, 0.4)
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar .navbar-nav {
	li a {
		font-size: 17px;
		font-family: 'Raleway', sans-serif;
		color: #fff;
		font-weight: 600;
		padding-right: 25px;
		padding-left: 25px;
	}
}

@media(max-width: 768px) {
	.top-navbar {
		float: right !important;
	}
}

// Header section
#home {
	min-height: 1000px;
	background-size: cover;
	background-image: url("../img/banner.jpg");
	@media (max-width: @screen-xs-max) {
		background-image: url("../img/banner-mobile.jpg");
		min-height: 700px;
	}
	#header-title {
		padding-top: 350px;
		@media (max-width: @screen-xs-max) {
			padding-top: 100px;
		}
		h1 {
			color: #ecf0f1;
			font-size: 90px;
			font-family: 'Poiret One', cursive;
		}
		h3 {
			color: #1abc9c;
			font-family: 'Lato', sans-serif;
			font-size: 24px;
		}
	}
}
// About section
#about {
	min-height: 300px;
	text-align: center;
	.about-content {
		padding-top: 75px;
		padding-bottom: 75px;
		font-size: 25px;
		font-family: 'Raleway', sans-serif;
		font-weight: 550;
	}
}

// Signup section

#signup {
	text-align: center;
	min-height: 350px;
	#signup-header {
		padding-bottom: 15px;
	}
	#signup-title {
		font-size: 60px;
		font-family: "Raleway", sans-serif;
	}
	#signup-subtitle {
		font-size: 20px;
		font-family: "Open Sans", sans;
	}
	#signup-name {
		min-width: 100px;
		min-height: 50px;
		color: #ecf0f1;
		background-color: #1d6ea6;
		border: none;
		font-family: "Open Sans", sans;
		font-size: 20px;
		position: relative;
		right: 10px;
		padding-left: 5px;
	}
	#signup-email {
		min-width: 500px;
		min-height: 50px;
		color: #ecf0f1;
		background-color: #3498db;
		border: none;
		font-family: "Open Sans", sans;
		font-size: 20px;
		padding-left: 5px;
	}
	::-webkit-input-placeholder {
		font-size: 20px;
		font-family: "Open Sans", sans;
		color: #ecf0f1;
	}
	#signup-submit {
		position: relative;
		font-size: 20px;
		min-height: 50px;
		padding: 0px 15px;
		left: 8px;
		border: none;
		background-color: #16a085;
		color: #ecf0f1;
	}
	#signup-submit:hover {
		background-color: #1abc9c;
	}
	@media (max-width: @screen-xs-max) {
		#signup-name {
			margin-bottom: 20px;
			right: 0px;
		}
		#signup-email {
			min-width: 100%;
			margin-right: 20px;
			margin-bottom: 20px;
		}
		#signup-submit {
			margin-bottom: 50px;
		}
	}
}


// Marketing section

#marketing {
	text-align: center;
	min-height: 300px;
	background-color: #f7f9f9;
	#marketing-title {
		font-size: 60px;
		font-family: "Lato", sans-serif;
	}
	.marketing-content {
		p {
			padding-top: 25px;
			padding-bottom: 75px;
			font-size: 25px;
			font-family: 'Raleway', sans-serif;
			font-weight: 550;
		}

	}
}

// Services section

#services {
	min-height: 800px;
	text-align: center;
	background-color: #2c3e50;
	#services-header {
		h1 {
			font-size: 60px;
			color: #ecf0f1;
			font-family: 'Lato';
		}
		h3 {
			font-style: italic;
			font-family: 'Open Sans', sans;
			font-size: 25px;
			color: #95a5a6;
			padding-bottom: 20px;

		}
	}
	.services-item .icon {
		font-size: 60px;
		color: #ecf0f1;
	}

	.services-item {
		h1 {
			font-family: 'Raleway';
			font-size: 30px;
			color: #2980b9;
		}
		p {
			font-size: 18px;
			color: #FAFAFA;
			font-family: 'Open Sans';
		}
	}
	.services-intro {
		p {
			font-size: 20px;
		}
	}
	.services-icons {
		margin-bottom: 20px;
	}
	.services-content-title {
		h1 {
			font-size: 24px;
			color: #2980b9;
			font-family: 'Lato', sans-serif;
		}
	}
	.services-content {
		padding-top: 22px;
		p {
			font-size: 18px;
			color: #ecf0f1;
			font-family: "Open Sans", sans;
			text-align: left;
		}
	}

}

// Porfolio section
#portfolio {
	min-height: 600px;
	h1 {
		font-family: 'Poiret One';
		font-size: 80px;
		text-align: center;
		margin-bottom: 75px;
	}
}

// Portfolio click/hover effect

.view {
	width: 300px;
	height: 300px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff url(./img/chickadee-farm.jpg) no-repeat center center;
}
.view .mask, .view .content {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
   	top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
	font-family: "Poiret One";
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 30px;
    padding: 10px;
    background: #3498db;
    margin: 0 0 0 0;
}
.view p {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 18px;
    position: relative;
    color: #fff;
    padding: 30px 20px 20px;
    text-align: center
}
.view a.info {
	font-family: "Open Sans", sans;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #3498db;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover  {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(52, 73, 94, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
.view-first:hover img {
	transform: scale(1.1);
}
.view-first:hover .mask {
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
   	transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

// Contact section
#contact {
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #34545e;
	#contact-title,
	.contact-intro,
	.contact-phone,
	.contact-email {
		color: #ecf0f1;
	}
	#contact-title {
		font-family: "Poiret One", cursive;
		font-size: 64px;
		text-align: center;
		padding-bottom: 10px;
	}
	.contact-intro {
		font-family: "Raleway", serif;
		font-size: 20px;
		text-align: center;
		font-weight: 500;
		padding-bottom: 50px;
	}
	.contact-email, .contact-phone {
		h2, p {
			display: inline-block;
		}
		h2 {
			font-family: "Lato", sans-serif;
			font-size: 22px;
		}
		p {
			font-family: "Open Sans", sans;
			font-size: 16px;
		}
		span {
			font-size: 24px;
		}
	}
	.contact-email a {
		color: #3498db;
		&:hover {
			color: #ecf0f1
		}
	}
}

// Footer
.footer {
	background-color: #2c3e50;
	min-height: 35px;
	ul {
		list-style-type: none;
		text-align: center;
		padding: 0;
		margin: 0;
		li {
			padding-top: 10px;
			display: inline-block;
			color: #ecf0f1;
			font-family: "Lato", sans-serif;
			font-size: 15px;
		}
	}
}
